<div class="grid-container">
  <table id="grid-table" border="1" cellpadding="10">
    <thead (click)="sort($event)">
      <tr>
        <th rowspan="2" class="sortable">ID</th>
        <th rowspan="2" class="sortable">Name</th>
        <th rowspan="2" class="sortable">Location</th>
        <th rowspan="2" class="sortable">Office</th>
        <th colspan="2">Phone</th>
      </tr>
      <tr>
        <th class="sortable" data-ref="phone">Office</th>
        <th class="sortable" data-ref="phone">Cell</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let row of rowData" id="{{row.id}}">
        <td (click)="selectRow($event)" class="first-column"><span *ngIf="row.saved">{{row.id}}</span></td>
        <td>{{row.name}}</td>
        <td>{{row.location}}</td>
        <td>{{row.office}}</td>
        <td>{{row.phone.office}}</td>
        <td (dblclick)="editCellPhone($event)" (blur)="cancelEditPhone($event)">{{row.phone.cell}}</td>
      </tr>
    </tbody>
  </table>

  <div class="btnGrp">
    <button (click)="deleteRow()" class="left-align" id="delete" disabled>Delete</button>
    <button (click)="update()" class="right-align" id="update">Update</button>
    <button (click)="addRow()" class="right-align" id="add">Add</button>
  </div>
</div>
